<h3 class="bg-primary text-white p-2">Telefon Kategorisi</h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Samsung S7</td>
            <td>5000</td>
            <td>
                <button class="btn btn-primary m-1">Edit</button>
                <button class="btn btn-danger m-1">Delete</button>
            </td>
        </tr>
    </tbody>
</table>